.gradient {
  /* Webkit: Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left center, right center, from(#447FFF), to(#45BEFC));
  /* Webkit: Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(left, #447FFF, #45BEFC);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #447FFF, #45BEFC);
  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #447FFF, #45BEFC);
  /* IE 10 */
  background: -ms-linear-gradient(left, #447FFF, #45BEFC);
}
/*==============================================================*/
[v-cloak] {
  display: none!important;
}
/*RESET*/
html,
body {
  padding: 0;
  margin: 0;
  color: #333333;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  background-color: #f7f7f7;
  -webkit-text-size-adjust: 100% !important;
  /*ios绂佹瀛椾綋缂╂斁*/
}
html.white,
body.white {
  background-color: #ffffff;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*瀹氫箟婊氬姩鏉￠珮瀹藉強鑳屾櫙 楂樺鍒嗗埆瀵瑰簲妯珫婊氬姩鏉＄殑灏哄*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}
/*瀹氫箟婊氬姩鏉¤建閬� 鍐呴槾褰�+鍦嗚*/
::-webkit-scrollbar-track {
  background-color: transparent;
}
/*瀹氫箟婊戝潡 鍐呴槾褰�+鍦嗚*/
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: #ccc;
}
/*闅愯棌婊氬姩鏉�*/
/*::-webkit-scrollbar {
	display: none;
}*/
.contentBody::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
p {
  margin: 0;
}
input,
textarea {
  resize: none!important;
  -webkit-appearance: none;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
/*璁剧疆placeholder棰滆壊*/
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ccc;
}
textarea:-moz-placeholder,
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
}
textarea::-moz-placeholder,
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
}
textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc;
}
/*鑷姩娑堝け鐨勬秷鎭*/
.dialogCon {
  position: fixed;
  top: 42%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-size: 14px;
  padding: 12px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: none;
  z-index: 1000;
}
.dialogCon .closeIcon {
  position: relative;
  right: -8px;
  font-style: normal;
  font-size: 20px;
  line-height: 16px;
  margin-left: 10px;
  cursor: pointer;
}
.dialogCon .closeIcon:hover {
  opacity: 0.8;
}
/*绛夊緟涓樉绀�*/
.waiting {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2000;
}
.waiting .bg {
  width: 3.6rem;
  height: 3.6rem;
  text-align: center;
  margin-left: calc(50% - 1.8rem);
  margin-top: 14.5rem;
}
.waiting .bg img {
  width: 2rem;
  margin-bottom: 0.3rem;
}
.waiting .bg .text {
  font-size: 0.8rem;
}
/*闅愯棌椤甸潰*/
.hidePage {
  display: none;
  position: absolute;
  top: 0;
  left: 30rem;
  width: 100%;
  height: 100%;
}
/*寮圭獥pc*/
.myAlert,
.myPop {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: scroll;
}
.myAlert .alertBody,
.myPop .alertBody {
  background-color: #F6F6F6;
  width: 360px;
  position: absolute;
  top: 25%;
  left: calc(50% - 180px);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.myAlert .alertBody .text,
.myPop .alertBody .text {
  min-height: 90px;
  color: #030303;
  padding: 34px 20px;
  line-height: 28px;
  text-align: center;
}
.myAlert .alertBody .btnArea,
.myPop .alertBody .btnArea {
  height: 70px;
  line-height: 70px;
  border-top: 1px solid #eee;
  text-align: center;
}
.myAlert .alertBody .btnArea .yes,
.myPop .alertBody .btnArea .yes,
.myAlert .alertBody .btnArea .cancel,
.myPop .alertBody .btnArea .cancel {
  margin-right: 30px;
}
.myAlert .alertBody .btnArea .yes:last-child,
.myPop .alertBody .btnArea .yes:last-child,
.myAlert .alertBody .btnArea .cancel:last-child,
.myPop .alertBody .btnArea .cancel:last-child {
  margin-right: 0;
}
.myPop .alertBody {
  width: 500px;
  top: 10%;
  left: calc(50% - 250px);
  margin-bottom: 20px;
  overflow: visible;
}
.myPop .alertBody .titleArea {
  position: relative;
  /*.close{
				width:30px;
				height:30px;
				background: url("../img/icon_close.png?v=c8ae855e83") no-repeat center center;
				position: absolute;
				top:14px;
				right:20px;
				cursor: pointer;
				&:hover{
					opacity:0.8;
				}
			}*/
}
.myPop .alertBody .titleArea .title {
  text-align: center;
  line-height: 60px;
  border-bottom: 1px solid #eee;
  font-size: 22px;
  /* Webkit: Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left center, right center, from(#447FFF), to(#45BEFC));
  /* Webkit: Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(left, #447FFF, #45BEFC);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #447FFF, #45BEFC);
  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #447FFF, #45BEFC);
  /* IE 10 */
  background: -ms-linear-gradient(left, #447FFF, #45BEFC);
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.myPop .alertBody .contentArea {
  padding: 50px 70px 30px 70px;
}
.myPop .alertBody .contentArea input,
.myPop .alertBody .contentArea textarea {
  width: 200px;
}
.myPop .alertBody .contentArea input:disabled,
.myPop .alertBody .contentArea textarea:disabled {
  background-color: #eaeaea;
}
.myPop .alertBody .contentArea input:disabled.feedbackContent,
.myPop .alertBody .contentArea textarea:disabled.feedbackContent {
  background-color: #fff;
  width: 100%;
  padding: 24px 30px;
  min-height: 180px;
}
.myPop .alertBody .contentArea .item {
  display: flex;
  display: -webkit-flex;
  margin-bottom: 20px;
  position: relative;
}
.myPop .alertBody .contentArea .item:last-child {
  margin-bottom: 0;
}
.myPop .alertBody .contentArea .item.tipItem {
  margin-bottom: 30px;
}
.myPop .alertBody .contentArea .item .label {
  display: inline-block;
  width: 80px;
  text-align: right;
  line-height: 30px;
}
.myPop .alertBody .contentArea .item .tip {
  font-size: 12px;
  color: #ea0000;
  position: absolute;
  bottom: -20px;
  left: 82px;
}
.myPop .alertBody .contentArea .item.width140 .layui-input-inline {
  margin-right: 10px;
}
.myPop .alertBody .contentArea .item.width140 input {
  width: 140px;
}
.myPop .alertBody .contentArea.followUp-contentArea {
  padding: 30px 30px 30px 30px;
}
.myPop .alertBody .contentArea.followUp-contentArea input,
.myPop .alertBody .contentArea.followUp-contentArea textarea {
  width: 100%;
}
.myPop .alertBody .btnArea {
  height: 90px;
  line-height: 70px;
  border-top: 1px solid transparent;
  text-align: center;
}
.myPop .alertBody .btnArea .yes,
.myPop .alertBody .btnArea .cancel {
  width: 120px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  margin-right: 30px;
  -webkit-box-shadow: 0 3px 6px #78B8FD;
  -moz-box-shadow: 0 3px 6px #78B8FD;
  box-shadow: 0 3px 6px #78B8FD;
}
.myPop .alertBody .btnArea .yes:last-child,
.myPop .alertBody .btnArea .cancel:last-child {
  margin-right: 0;
}
.myPop2 .alertBody {
  width: 750px;
  left: calc(50% - 375px);
}
.myPop2 .alertBody .contentArea {
  padding: 50px 40px 30px 40px;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
.myPop2 .alertBody .contentArea .item {
  width: 50%;
}
.m-hide {
  display: none!important;
}
.m-show {
  display: block;
}
.m-text-left {
  text-align: left!important;
}
.m-text-center {
  text-align: center!important;
}
.m-text-right {
  text-align: right!important;
}
.pointer {
  cursor: pointer;
}
.pointer:hover {
  opacity: 0.8;
}
/*==bootstrap榛樿鏍峰紡瑕嗙洊=========================================*/
/*@media (min-width: 768px) {
	.container { width: 768px; }
}
@media (min-width: 1024px) {
	.container { width: 1024px; }
}
.btn-primary{
	background-color: #5A9BEA;
	border:none;
	&:hover, &:active, &:focus {
		background-color: #5A9BEA;
	}
	&[disabled]{
		background-color: #bbb;
	}
}
.btn-default{
	&:hover, &:active, &:focus {
		background-color: #fff;
	}
}
//鍘婚櫎鎸夐挳榛勮壊杈规鍜岄槾褰�
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,
input,textarea{
	outline: none;
	-webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0); -moz-box-shadow: inset 0 0 0 rgba(0,0,0,0); box-shadow: inset 0 0 0 rgba(0,0,0,0);
}
*/
/*==layui榛樿鏍峰紡瑕嗙洊=============================================*/
.layui-form-item {
  margin-bottom: 0;
}
.layui-btn {
  height: 30px;
  line-height: 30px;
  width: 114px;
  font-size: 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.layui-btn.layui-btn-primary {
  background-color: #fff;
  color: #333;
  border: none;
  -webkit-box-shadow: 0 2px 4px #C4D4E5;
  -moz-box-shadow: 0 2px 4px #C4D4E5;
  box-shadow: 0 2px 4px #C4D4E5;
  cursor: pointer;
}
.layui-btn.layui-btn-primary:hover {
  opacity: 0.8;
}
.layui-btn.layui-btn-normal {
  background-color: #44B2FC;
  -webkit-box-shadow: 0 2px 4px #C4D4E5;
  -moz-box-shadow: 0 2px 4px #C4D4E5;
  box-shadow: 0 2px 4px #C4D4E5;
}
.layui-btn.layui-btn-normal:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: rgba(68, 178, 252, 0.8);
}
.layui-btn.queryBtn {
  padding-left: 36px;
  background: #ffffff url("../img/icon_search.png?v=fbeaff214a") no-repeat 15px center;
}
.layui-btn.createBtn {
  padding-left: 36px;
  background-image: url("../img/icon_add.png?v=6f49973dcb");
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 16px auto;
}
.layui-input {
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 30px;
  width: 120px;
  border: none;
  -webkit-box-shadow: 0 2px 4px #C4D4E5;
  -moz-box-shadow: 0 2px 4px #C4D4E5;
  box-shadow: 0 2px 4px #C4D4E5;
}
.layui-input.timeInput {
  background: #ffffff url("../img/icon_time.png?v=79c28dac18") no-repeat 92% center;
}
.layui-textarea {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0 2px 4px #C4D4E5;
  -moz-box-shadow: 0 2px 4px #C4D4E5;
  box-shadow: 0 2px 4px #C4D4E5;
}
.layui-breadcrumb a:hover {
  color: #44B2FC !important;
}
.layui-form-radio i:hover,
.layui-form-radioed i,
.layui-tab-brief > .layui-tab-title .layui-this {
  color: #44B2FC;
}
.layui-form-select dl dd.layui-this {
  background-color: #44B2FC;
}
.layui-form-checkbox[lay-skin=primary] i {
  border-color: #aaa;
}
.layui-form-checked[lay-skin=primary] i {
  border-color: #44B2FC;
  background-color: #44B2FC;
}
.layui-form-checkbox[lay-skin=primary]:hover i {
  border-color: #44B2FC;
}
.layui-tab-brief > .layui-tab-more li.layui-this:after,
.layui-tab-brief > .layui-tab-title .layui-this:after {
  border-bottom: 2px solid #44B2FC;
}
.layui-timeline-axis {
  color: #44B2FC;
}
/*寮圭獥鏍峰紡瑕嗙洊(prompt)*/
.layui-layer-prompt textarea.layui-layer-input {
  width: 320px;
  height: 60px;
}
.layui-layer-prompt .layui-layer-btn .layui-layer-btn0,
.layui-layer-prompt .layui-layer-btn .layui-layer-btn1 {
  -webkit-box-shadow: 0 2px 4px #C4D4E5;
  -moz-box-shadow: 0 2px 4px #C4D4E5;
  box-shadow: 0 2px 4px #C4D4E5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
}
.layui-layer-prompt .layui-layer-btn .layui-layer-btn0 {
  background-color: #44B2FC;
}
.layui-layer-prompt .layui-layer-btn .layui-layer-btn1 {
  background-color: #fff;
}
